.projects {
  max-width: 960px;
  margin: 150px auto;

  .project-info {
    text-align: center;

    h1 {
      font-family: 'Bebas Neue', cursive;

      @media screen and (min-width:993px) {
        font-size: 42px;
      }

      @media screen and (max-width:992px) {
        font-size: 32px;
      }

      @media screen and (max-width:768px) {
        font-size: 50px;
      }

      @media screen and (max-width:640px) {
        font-size: 46px;
      }

      @media screen and (max-width:576px) {
        font-size: 42px;
      }

      @media screen and (max-width:466px) {
        font-size: 38px;
      }

      @media screen and (max-width: 399px) {
        font-size: 34px;
      }

      @media screen and (max-width: 330px) {
        font-size: 24px;
      }
    }

    p {
      font-family: 'Roboto', sans-serif;
      font-weight: 900;
      line-height: 10px;

      @media screen and (min-width:993px) {
        font-size: 22px;
      }

      @media screen and (max-width:992px) {
        font-size: 19px;
      }

      @media screen and (max-width:768px) {
        font-size: 17px;
      }

      @media screen and (max-width:640px) {
        font-size: 15px;
      }

      @media screen and (max-width:576px) {
        font-size: 13px;
      }

      @media screen and (max-width:466px) {
        font-size: 10px;
      }

      @media screen and (max-width: 399px) {
        font-size: 8px;
      }

      @media screen and (max-width: 330px) {
        font-size: 5px;
      }
    }
  }
}