.press {
  padding-top: 150px;
  padding-bottom: 150px;

  @media screen and (min-width:769px) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media screen and (max-width:768px) {
    padding-left: 15px;
    padding-right: 15px;
  }

  .container {
    max-width: 1000px;
    margin: auto;
  }
  
  .title {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    
    @media screen and (min-width:993px) {
      font-size: 42px;
    }

    @media screen and (max-width:992px) {
      font-size: 32px;
    }

    @media screen and (max-width:768px) {
      font-size: 42px;
    }

    @media screen and (max-width:640px) {
      font-size: 38px;
    }

    @media screen and (max-width:576px) {
      font-size: 34px;
    }

    @media screen and (max-width:466px) {
      font-size: 28px;
    }

    @media screen and (max-width: 399px) {
      font-size: 24px;
    }

    @media screen and (max-width: 330px) {
      font-size: 22px;
    }
  }

  .images {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    text-align: center;

    @media screen and (max-width:992px) {
      flex-direction: column;
      align-items: center;
    }

    .image {
      @media screen and (max-width:992px) {
        margin-top: 50px;
      }

      .image-date-dv {
        margin-top: 60px;
        font-weight: 700;

        @media screen and (max-width:992px) {
          margin-top: 30px;
        }
      }

      .image-date {
        margin-top: 30px;
        font-weight: 700;
      }
    }
  }
}