.card-lad {
  background-image: url('../../assets/background_card_lad.png');
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  margin-top: 100px;

  @media screen and (max-width: 768px) {
    background-size: cover;
  }

  .info-lad {
    padding-top: 50px;

    @media screen and (min-width: 769px) {
      margin-left: 30px;
      padding-bottom: 55px;
    }

    @media screen and (max-width: 768px) {
      text-align: center;
    }

    h1 {
      font-family: 'Bebas Neue', cursive;
      color: white;
      line-height: 20px;

      @media screen and (min-width:993px) {
        font-size: 42px;
      }

      @media screen and (max-width:992px) {
        font-size: 32px;
      }

      @media screen and (max-width:768px) {
        font-size: 50px;
      }

      @media screen and (max-width:640px) {
        font-size: 46px;
      }

      @media screen and (max-width:576px) {
        font-size: 42px;
      }

      @media screen and (max-width:466px) {
        font-size: 38px;
      }

      @media screen and (max-width: 399px) {
        font-size: 34px;
      }

      @media screen and (max-width: 330px) {
        font-size: 30px;
      }
    }
    
    p:first-of-type {
      margin-top: 60px;;
    }

    p {
      font-family: 'Roboto', sans-serif;
      color: white;
      font-weight: 900;
      line-height: 10px;

      @media screen and (min-width:993px) {
        font-size: 22px;
      }

      @media screen and (max-width:992px) {
        font-size: 20px;
      }

      @media screen and (max-width:768px) {
        font-size: 28px;
      }

      @media screen and (max-width:640px) {
        font-size: 26px;
      }

      @media screen and (max-width:576px) {
        font-size: 24px;
      }

      @media screen and (max-width:466px) {
        font-size: 22px;
      }

      @media screen and (max-width: 399px) {
        font-size: 20px;
      }

      @media screen and (max-width: 330px) {
        font-size: 18px;
      }
    }
  }

  .image-lad {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;

    @media screen and (min-width: 769px) {
      position: absolute;
      top: 27px;
      right: 73px;
    }

    @media screen and (max-width: 768px) {
      position: relative;
      top: 100px;
      right: 5px;
    }
  }
}