.banner {
  // background-color: red;
  background-image: url('../../assets/background_home.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1500px;

  @media screen and (max-width: 576px) {
    text-align: center;
  }

  .informations {
    .information {

      h1 {
        font-family: 'Bebas Neue', cursive;
        color: white;

        @media screen and (min-width: 993px) {
          font-size: 40px;
          margin-top: 50px;
        }

        @media screen and (max-width: 992px) {
          font-size: 36px;
          margin-top: 50px;
        }

        @media screen and (max-width: 768px) {
          font-size: 34px;
          margin-top: 50px;
        }

        @media screen and (max-width: 640px) {
          font-size: 32px;
          margin-top: 50px;
        }

        @media screen and (max-width: 576px) {
          font-size: 34px;
          margin-top: 50px;
        }

        @media screen and (max-width: 466px) {
          font-size: 28px;
          margin-top: 50px;
        }

        @media screen and (max-width: 399px) {
          font-size: 24px;
          margin-top: 50px;
        }
  
        @media screen and (max-width: 330px) {
          font-size: 22px;
          margin-top: 50px;
        }
      }
  
      p {
        font-family: 'Roboto', sans-serif;
        color: white;
        font-weight: 400;
        line-height: 10px;

        @media screen and (min-width: 993px) {
          font-size: 24px;
          line-height: 26px;
        }

        @media screen and (max-width: 992px) {
          font-size: 23px;
          line-height: 26px;
        }

        @media screen and (max-width: 768px) {
          font-size: 22px;
          line-height: 26px;
        }

        @media screen and (max-width: 640px) {
          font-size: 20px;
          line-height: 24px;
        }
  
        @media screen and (max-width: 576px) {
          font-size: 22px;
          line-height: 24px;
          margin-left: 25px;
          margin-right: 25px;
        }

        @media screen and (max-width: 466px) {
          font-size: 20px;
          line-height: 22px;
          margin-left: 25px;
          margin-right: 25px;
        }

        @media screen and (max-width: 399px) {
          font-size: 17px;
          line-height: 20px;
          margin-left: 25px;
          margin-right: 25px;
        }

        @media screen and (max-width: 330px) {
          font-size: 16px;
          line-height: 20px;
          margin-left: 25px;
          margin-right: 25px;
        }
      }

      p:first-of-type {
        margin-top: 25px;
      }

      p:last-of-type {
        padding-bottom: 30px;
      }

      .interest-button {
        background-color: black;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 10px;
        border-color: black;
        text-decoration: none;
      }
    }

    .app-information {
      .app-buttons {
        margin-top: 30px;
        margin-bottom: 30px;

        @media screen and (min-width: 577px) {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
        }

        @media screen and (max-width: 576px) {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
        }

        @media screen and (max-width: 330px) {
          display: flex;
          flex-direction: column;
        }

        .android-button {
          @media screen and (min-width: 400px) {
            margin-left: 20px;
          }

          @media screen and (max-width: 399px) {
            margin-left: 5px;
          }

          @media screen and (max-width: 330px) {
            margin-top: 20px;
          }
        }
      }

      .app-title {
      
        h1 {
          font-family: 'Bebas Neue', cursive;
          color: white;
          font-size: 38px;

          @media screen and (min-width: 993px) {
            font-size: 40px;
            margin-top: 50px;
          }
  
          @media screen and (max-width: 992px) {
            font-size: 36px;
            margin-top: 50px;
          }
  
          @media screen and (max-width: 768px) {
            font-size: 34px;
            margin-top: 50px;
          }
  
          @media screen and (max-width: 640px) {
            font-size: 32px;
            margin-top: 50px;
          }
  
          @media screen and (max-width: 576px) {
            font-size: 34px;
            margin-top: 50px;
          }
  
          @media screen and (max-width: 466px) {
            font-size: 28px;
            margin-top: 50px;
          }
  
          @media screen and (max-width: 399px) {
            font-size: 24px;
            margin-top: 50px;
          }
    
          @media screen and (max-width: 330px) {
            font-size: 22px;
            margin-top: 50px;
          }
        }
    
        p {
          font-family: 'Roboto', sans-serif;
          color: white;
          font-size: 22.5px;
          font-weight: 400;

          @media screen and (min-width: 993px) {
            font-size: 24px;
          }
  
          @media screen and (max-width: 992px) {
            font-size: 23px;
          }
  
          @media screen and (max-width: 768px) {
            font-size: 22px;
          }
  
          @media screen and (max-width: 640px) {
            font-size: 20px;
          }
    
          @media screen and (max-width: 576px) {
            font-size: 22px;
          }
  
          @media screen and (max-width: 466px) {
            font-size: 20px;
          }
  
          @media screen and (max-width: 399px) {
            font-size: 17px;
          }
  
          @media screen and (max-width: 330px) {
            font-size: 16px;
          }
        }
      }
    }
  }
}